<!-- build:js_bot /js/compiled.js -->
script(src='/bower_components/jquery/dist/jquery.min.js')
//- load Foundation scripts individually
//- script(src='/bower_components/foundation/js/foundation/foundation.js')
//- script(src='/bower_components/foundation/js/foundation/foundation.abide.js')
//- script(src='/bower_components/foundation/js/foundation/foundation.reveal.js')
script(src='/js/app.js')
<!-- endbuild -->